:root {
  --muted-text: #fdfdfd;
  --accent: #5596f6;
  --gray-color: #aaaaaa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
