:root {
  --muted-text: #fdfdfd;
  --accent: #5596f6;
  --gray-color: #aaaaaa;
  --body-bg: #c7d9f7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: var(--body-bg);
}
.card {
  background-color: #fff;
  width: 90vw;
  margin: 5rem auto;
  box-shadow: 0 10px 10px rgba(132, 172, 233, 0.418);
  padding: 2rem;
  border-radius: 12px;
}

.search-city {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.5rem;
}
.search-city:focus {
  border-color: rgba(132, 172, 233, 0.418);
}
.search-query {
  border: none;
  outline: none;
  padding: 0.25rem;
  color: rgb(122, 118, 118);
  font-family: inherit;
}

.btn {
  background-color: var(--accent);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 5px 5px rgba(132, 172, 233, 0.418);
  cursor: pointer;
}
